.footer-link {
    position: relative;
    color: white;
    cursor: pointer;
}

.footer-link:not(:first-child)::before {
    content: "|";
    position: absolute;
    left: -10px;
}

.footer-link {
    margin-left: 10px;
}
